body {
    font-family:'Courier New', Courier, monospace;
}

body > *, body div {
    padding: 0px 16px;
    box-sizing: border-box;
}

.navbar {
    background-color: goldenrod;
    color: white;
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
    max-width: 100vw;
}

.navbar > div {
    padding: 16px;
}

#profile-pic {
    height: auto;
    width: 250px;
    display: inline;
}

.about-biz {
    display: flex;
    flex-direction: row;
}

.biz-flex-1, .biz-flex-2 {
    display: flex;
    flex-direction: column;
}

.biz-flex-2 {
    justify-content: space-between;
}

.biz-flex-2 > * {
    margin: 0;
}

.lists {
    display: flex;
    flex-direction: row;
}

.lists > h3 {
    font-weight: bolder;
}

.images-container {
    display: flex;
    justify-content: space-around;
    margin: 8px;
    flex-wrap: wrap;
}

.images-container > img {
    height: 100px;
    width: auto;
    margin: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > * {
    margin: 16px;
}

form label {
    margin-bottom: 0;
    padding-bottom: 0;
}

form input {
    margin-top: 16px;
    padding-top: 0;
}

form button {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 1125px) { /* if the screen's width is less than that of the iphone pro */
    .navbar {
      font-size: 14px; 
    }

    .about-biz {
        flex-wrap: wrap;
    }
  }
